.task__container {
  background-color: #1b1b32;
  width: 500px;
  min-height: 65px;
  margin: 5px 0px;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
  color: #fff;
}

/*colors*/

.task__container:nth-child(3n + 1){
  background-color: #1b1b32;
}

.task__container:nth-child(3n + 2){
  background-color: #2a2a40;
}

.task__container:nth-child(3n + 3){
  background-color: #3b3b4f;
}

.task__text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.task__icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.task__container.complete {
  background-color: purple;
  text-decoration: line-through;
}
